
.form {

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin: 0 0 2rem;

    background-color: transparent;
}

select, button {

    height: 2rem;
    border: solid 1px var(--detail);
    border-radius: 15px;

    color: var(--text);

    box-sizing: border-box;
    resize: vertical;

    cursor: pointer;

}

#pokemonSelect {

    width: 50%;
    text-align: center;

}

select {

    width: 30%;  

    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;

}

button {

    width: 10%;

}